[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = git@github.com:Rip-Rip/clang_complete.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = git@github.com:msanders/snipmate.vim.git
[submodule "bundle/dot-vim"]
	path = bundle/dot-vim
	url = git@github.com:mireq/dot-vim.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = git://github.com/Valloric/YouCompleteMe.git
